In [2]:
from sklearn import preprocessing,tree,metrics
from sklearn.model_selection import train_test_split,GridSearchCV
from matplotlib import pyplot as plt
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,ConfusionMatrixDisplay,RocCurveDisplay
import pandas as pd 
import numpy as np 
import plotly.express as px

In [3]:
df = pd.read_csv('prepared_loan_approval_data.csv')

In [4]:
df.drop('max_allowed_loan',axis=1, inplace=True)
df.head()

,id,age,income,home_ownership,emplyment_length,loan_intent,loan_amount,loan_interest_rate,loan_income_ratio,payment_default_on_file,credit_history_length,loan_approval_status
0,19180,40.0,182004,3,3,1,35000,8.00,0.19,0,11,0
1,28072,40.0,90000,0,3,2,35000,12.42,0.39,0,14,0
2,32074,40.0,131004,0,9,5,30000,7.90,0.23,0,13,0
3,7224,40.0,150000,0,9,0,25000,11.89,0.17,0,11,0
4,14471,40.0,132000,0,3,2,25000,16.82,0.22,0,17,0

In [5]:
df.to_csv(r'loan_approval_status_data.csv', index=False)

In [6]:
df2=pd.read_csv('prepared_loan_approval_data.csv')

In [7]:
approved_loan_applicants =  df2[(df2.loan_approval_status < 1)]

In [8]:
approved_loan_applicants.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
id,50288.0,29377.309656,16930.537548,0.00,14734.75,29396.50,44020.25,58644.00
age,50288.0,27.552652,5.964567,20.00,23.00,26.00,30.00,84.00
income,50288.0,66675.948178,39309.701733,4200.00,45000.00,60000.00,80000.00,1900000.00
home_ownership,50288.0,1.543251,1.456797,0.00,0.00,2.00,3.00,3.00
emplyment_length,50288.0,4.860802,3.913256,0.00,2.00,4.00,7.00,41.00
loan_intent,50288.0,2.553571,1.730527,0.00,1.00,3.00,4.00,5.00
loan_amount,50288.0,8888.048481,5326.987911,500.00,5000.00,8000.00,12000.00,35000.00
loan_interest_rate,50288.0,10.258690,2.826840,5.42,7.51,10.39,12.42,22.11
loan_income_ratio,50288.0,0.145101,0.077866,0.00,0.08,0.13,0.20,0.63
payment_default_on_file,50288.0,0.121401,0.326839,0.00,0.00,0.00,0.00,2.00
credit_history_length,50288.0,5.818883,4.002103,2.00,3.00,4.00,8.00,30.00
loan_approval_status,50288.0,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00
max_allowed_loan,50288.0,81392.891147,58120.836084,232.00,49111.00,69431.50,98991.00,2638778.00

In [9]:
approved_loan_applicants.drop('loan_approval_status',axis=1, inplace=True)
approved_loan_applicants.head()

C:\Users\thinu\AppData\Local\Temp\ipykernel_23212\2311590638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  approved_loan_applicants.drop('loan_approval_status',axis=1, inplace=True)

,id,age,income,home_ownership,emplyment_length,loan_intent,loan_amount,loan_interest_rate,loan_income_ratio,payment_default_on_file,credit_history_length,max_allowed_loan
0,19180,40.0,182004,3,3,1,35000,8.00,0.19,0,11,35000
1,28072,40.0,90000,0,3,2,35000,12.42,0.39,0,14,35000
2,32074,40.0,131004,0,9,5,30000,7.90,0.23,0,13,30000
3,7224,40.0,150000,0,9,0,25000,11.89,0.17,0,11,25000
4,14471,40.0,132000,0,3,2,25000,16.82,0.22,0,17,25000

In [10]:
approved_loan_applicants.to_csv(r'loan_max_amount_data.csv', index=False)