In [108]:
import pandas as pd

In [109]:
data = pd.read_csv('5DATA002W.2 Coursework Dataset(25012025v6.0).csv')

In [110]:
data.head(10)

,Patient_ID,Month_of_Birth,Age,Sex,Occupation,T_Stage,N_Stage,6th_Stage,Differentiated,Grade,A_Stage,Tumor_Size,Estrogen_Status,Progesterone_Status,Regional_Node_Examined,Reginol_Node_Positive,Survival_Months,Mortality_Status
0,A0012,12,68.0,Female,Teaching,T1,N1,IIA,Poorly differentiated,3,Regional,4.0,Positive,Positive,24.0,1,60,Alive
1,A0013,12,50.0,Female,Medical,T2,N2,IIIA,Moderately differentiated,2,Regional,35.0,Positive,Positive,14.0,5,62,Alive
2,A0014,11,58.0,Female,Engineering,T3,N3,IIIC,Moderately differentiated,2,Regional,63.0,Positive,Positive,14.0,7,75,Alive
3,A0015,3,58.0,Female,Technology,T1,N1,IIA,Poorly differentiated,3,Regional,18.0,Positive,Positive,2.0,1,84,Alive
4,A0016,1,47.0,Female,Multimedia,T2,N1,IIB,Poorly differentiated,3,Regional,41.0,Positive,Positive,3.0,1,50,Alive
5,A0017,2,51.0,Female,Research,T1,N1,IIA,Moderately differentiated,2,Regional,20.0,Positive,Positive,18.0,2,89,Alive
6,A0018,5,51.0,Female,House Person,T1,N1,IIA,Well differentiated,1,Regional,8.0,Positive,Positive,11.0,1,54,Alive
7,A0019,4,40.0,Female,Reporting,T2,N1,IIB,Moderately differentiated,2,Regional,30.0,Positive,Positive,9.0,1,14,Dead
8,A0020,6,40.0,Female,Development,T4,N3,IIIC,Poorly differentiated,3,Regional,103.0,Positive,Positive,20.0,18,70,Alive
9,A0021,4,69.0,Female,Construction,T4,N3,IIIC,Well differentiated,1,Distant,32.0,Positive,Positive,21.0,12,92,Alive

In [111]:
list(data.columns)

['Patient_ID',
 'Month_of_Birth',
 'Age',
 'Sex',
 'Occupation',
 'T_Stage',
 'N_Stage',
 '6th_Stage',
 'Differentiated',
 'Grade',
 'A_Stage',
 'Tumor_Size',
 'Estrogen_Status',
 'Progesterone_Status',
 'Regional_Node_Examined',
 'Reginol_Node_Positive',
 'Survival_Months',
 'Mortality_Status']

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Patient_ID              4024 non-null   object
 1   Month_of_Birth          4024 non-null   int64
 2   Age                     4015 non-null   float64
 3   Sex                     4020 non-null   object
 4   Occupation              43 non-null     object
 5   T_Stage                 4024 non-null   object
 6   N_Stage                 4024 non-null   object
 7   6th_Stage               4024 non-null   object
 8   Differentiated          4024 non-null   object
 9   Grade                   4024 non-null   int64
 10  A_Stage                 4024 non-null   object
 11  Tumor_Size              4021 non-null   float64
 12  Estrogen_Status         4024 non-null   object
 13  Progesterone_Status     4024 non-null   object
 14  Regional_Node_Examined  4023 non-null   float64
 15  Reginol_Node_Positive   4024 non-null   int64
 16  Survival_Months         4024 non-null   int64
 17  Mortality_Status        4024 non-null   object
dtypes: float64(3), int64(4), object(11)
memory usage: 566.0+ KB

In [113]:
data.shape

(4024, 18)

In [114]:
data.describe()

,Month_of_Birth,Age,Grade,Tumor_Size,Regional_Node_Examined,Reginol_Node_Positive,Survival_Months
count,4024.000000,4015.000000,4024.000000,4021.000000,4023.000000,4024.000000,4024.000000
mean,6.481362,54.107098,2.150596,30.419299,14.373602,4.158052,71.472167
std,3.475442,11.715528,0.638234,21.161080,8.129293,5.109331,25.361855
min,1.000000,-50.000000,1.000000,-75.000000,1.000000,1.000000,1.000000
25%,3.000000,47.000000,2.000000,16.000000,9.000000,1.000000,56.000000
50%,6.000000,54.000000,2.000000,25.000000,14.000000,2.000000,73.000000
75%,10.000000,61.000000,3.000000,38.000000,19.000000,5.000000,90.000000
max,12.000000,502.000000,4.000000,140.000000,61.000000,46.000000,760.000000

In [115]:
data.describe(include='all')

,Patient_ID,Month_of_Birth,Age,Sex,Occupation,T_Stage,N_Stage,6th_Stage,Differentiated,Grade,A_Stage,Tumor_Size,Estrogen_Status,Progesterone_Status,Regional_Node_Examined,Reginol_Node_Positive,Survival_Months,Mortality_Status
count,4024,4024.000000,4015.000000,4020,43,4024,4024,4024,4024,4024.000000,4024,4021.000000,4024,4024,4023.000000,4024.000000,4024.000000,4024
unique,4024,NaN,NaN,2,40,4,3,5,4,NaN,2,NaN,2,2,NaN,NaN,NaN,7
top,A0012,NaN,NaN,Female,House Person,T2,N1,IIA,Moderately differentiated,NaN,Regional,NaN,Positive,Positive,NaN,NaN,NaN,Alive
freq,1,NaN,NaN,4001,2,1786,2732,1305,2351,NaN,3932,NaN,3755,3326,NaN,NaN,NaN,3399
mean,NaN,6.481362,54.107098,NaN,NaN,NaN,NaN,NaN,NaN,2.150596,NaN,30.419299,NaN,NaN,14.373602,4.158052,71.472167,NaN
std,NaN,3.475442,11.715528,NaN,NaN,NaN,NaN,NaN,NaN,0.638234,NaN,21.161080,NaN,NaN,8.129293,5.109331,25.361855,NaN
min,NaN,1.000000,-50.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,-75.000000,NaN,NaN,1.000000,1.000000,1.000000,NaN
25%,NaN,3.000000,47.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,16.000000,NaN,NaN,9.000000,1.000000,56.000000,NaN
50%,NaN,6.000000,54.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,25.000000,NaN,NaN,14.000000,2.000000,73.000000,NaN
75%,NaN,10.000000,61.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,38.000000,NaN,NaN,19.000000,5.000000,90.000000,NaN
max,NaN,12.000000,502.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,140.000000,NaN,NaN,61.000000,46.000000,760.000000,NaN

In [116]:
data.isnull().sum()

Patient_ID                   0
Month_of_Birth               0
Age                          9
Sex                          4
Occupation                3981
T_Stage                      0
N_Stage                      0
6th_Stage                    0
Differentiated               0
Grade                        0
A_Stage                      0
Tumor_Size                   3
Estrogen_Status              0
Progesterone_Status          0
Regional_Node_Examined       1
Reginol_Node_Positive        0
Survival_Months              0
Mortality_Status             0
dtype: int64

In [117]:
data.isnull().sum()/len(data)*100

Patient_ID                 0.000000
Month_of_Birth             0.000000
Age                        0.223658
Sex                        0.099404
Occupation                98.931412
T_Stage                    0.000000
N_Stage                    0.000000
6th_Stage                  0.000000
Differentiated             0.000000
Grade                      0.000000
A_Stage                    0.000000
Tumor_Size                 0.074553
Estrogen_Status            0.000000
Progesterone_Status        0.000000
Regional_Node_Examined     0.024851
Reginol_Node_Positive      0.000000
Survival_Months            0.000000
Mortality_Status           0.000000
dtype: float64

In [118]:
data.drop(['Occupation'], axis=1,inplace=True)

In [119]:
data = data.dropna()

In [120]:
data = data.astype({"Tumor_Size": "int", "Regional_Node_Examined": "int","Age": "int"})

In [121]:
data.head(10)

,Patient_ID,Month_of_Birth,Age,Sex,T_Stage,N_Stage,6th_Stage,Differentiated,Grade,A_Stage,Tumor_Size,Estrogen_Status,Progesterone_Status,Regional_Node_Examined,Reginol_Node_Positive,Survival_Months,Mortality_Status
0,A0012,12,68,Female,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,A0013,12,50,Female,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,A0014,11,58,Female,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,A0015,3,58,Female,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,A0016,1,47,Female,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
5,A0017,2,51,Female,T1,N1,IIA,Moderately differentiated,2,Regional,20,Positive,Positive,18,2,89,Alive
6,A0018,5,51,Female,T1,N1,IIA,Well differentiated,1,Regional,8,Positive,Positive,11,1,54,Alive
7,A0019,4,40,Female,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,9,1,14,Dead
8,A0020,6,40,Female,T4,N3,IIIC,Poorly differentiated,3,Regional,103,Positive,Positive,20,18,70,Alive
9,A0021,4,69,Female,T4,N3,IIIC,Well differentiated,1,Distant,32,Positive,Positive,21,12,92,Alive

In [122]:
def find_outliers_IQR(data):

  q1=data.quantile(0.25)

  q3=data.quantile(0.75)

  IQR=q3-q1

  outliers = data[((data<(q1-1.5*IQR))|(data> (q3+1.5*IQR)))]

  return outliers

In [123]:

# List of target columns
outlier_columns = ["Regional_Node_Examined", "Age", "Tumor_Size", "Reginol_Node_Positive", "Survival_Months"]

# Identify outliers for each column
outlier_mask = data[outlier_columns].apply(find_outliers_IQR)

# Count number of outliers per row
outlier_count_per_row = outlier_mask.sum(axis=1)
data.head(10)

,Patient_ID,Month_of_Birth,Age,Sex,T_Stage,N_Stage,6th_Stage,Differentiated,Grade,A_Stage,Tumor_Size,Estrogen_Status,Progesterone_Status,Regional_Node_Examined,Reginol_Node_Positive,Survival_Months,Mortality_Status
0,A0012,12,68,Female,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,A0013,12,50,Female,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,A0014,11,58,Female,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,A0015,3,58,Female,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,A0016,1,47,Female,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
5,A0017,2,51,Female,T1,N1,IIA,Moderately differentiated,2,Regional,20,Positive,Positive,18,2,89,Alive
6,A0018,5,51,Female,T1,N1,IIA,Well differentiated,1,Regional,8,Positive,Positive,11,1,54,Alive
7,A0019,4,40,Female,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,9,1,14,Dead
8,A0020,6,40,Female,T4,N3,IIIC,Poorly differentiated,3,Regional,103,Positive,Positive,20,18,70,Alive
9,A0021,4,69,Female,T4,N3,IIIC,Well differentiated,1,Distant,32,Positive,Positive,21,12,92,Alive

In [124]:
data[outlier_count_per_row.reindex(data.index, fill_value=0) < 2]
data

,Patient_ID,Month_of_Birth,Age,Sex,T_Stage,N_Stage,6th_Stage,Differentiated,Grade,A_Stage,Tumor_Size,Estrogen_Status,Progesterone_Status,Regional_Node_Examined,Reginol_Node_Positive,Survival_Months,Mortality_Status
0,A0012,12,68,Female,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,A0013,12,50,Female,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,A0014,11,58,Female,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,A0015,3,58,Female,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,A0016,1,47,Female,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,A4031,1,62,Female,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,A4032,5,56,Female,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,A4033,2,68,1,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,A4034,10,58,Female,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,A4035,5,46,Female,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [125]:
data.describe(include='all')

,Patient_ID,Month_of_Birth,Age,Sex,T_Stage,N_Stage,6th_Stage,Differentiated,Grade,A_Stage,Tumor_Size,Estrogen_Status,Progesterone_Status,Regional_Node_Examined,Reginol_Node_Positive,Survival_Months,Mortality_Status
count,4007,4007.000000,4007.00000,4007,4007,4007,4007,4007,4007.000000,4007,4007.000000,4007,4007,4007.000000,4007.000000,4007.000000,4007
unique,4007,NaN,NaN,2,4,3,5,4,NaN,2,NaN,2,2,NaN,NaN,NaN,7
top,A0012,NaN,NaN,Female,T2,N1,IIA,Moderately differentiated,NaN,Regional,NaN,Positive,Positive,NaN,NaN,NaN,Alive
freq,1,NaN,NaN,3988,1783,2721,1301,2343,NaN,3916,NaN,3738,3312,NaN,NaN,NaN,3383
mean,NaN,6.485650,54.11979,NaN,NaN,NaN,NaN,NaN,2.151984,NaN,30.327926,NaN,NaN,14.378837,4.158223,71.431744,NaN
std,NaN,3.475789,11.71939,NaN,NaN,NaN,NaN,NaN,0.637574,NaN,20.999388,NaN,NaN,8.136426,5.114605,25.387320,NaN
min,NaN,1.000000,-50.00000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,-75.000000,NaN,NaN,1.000000,1.000000,1.000000,NaN
25%,NaN,4.000000,47.00000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,16.000000,NaN,NaN,9.000000,1.000000,56.000000,NaN
50%,NaN,6.000000,54.00000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,25.000000,NaN,NaN,14.000000,2.000000,73.000000,NaN
75%,NaN,10.000000,61.00000,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,38.000000,NaN,NaN,19.000000,5.000000,90.000000,NaN
max,NaN,12.000000,502.00000,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,140.000000,NaN,NaN,61.000000,46.000000,760.000000,NaN

In [126]:
from sklearn import preprocessing
labale_encoder = preprocessing.LabelEncoder()
data['Sex'] = labale_encoder.fit_transform(data['Sex'])

In [127]:
data['T_Stage'] = labale_encoder.fit_transform(data['T_Stage'])
data['N_Stage'] = labale_encoder.fit_transform(data['N_Stage'])
data['6th_Stage'] = labale_encoder.fit_transform(data['6th_Stage'])
data['Differentiated']= labale_encoder.fit_transform(data['Differentiated'])
data['A_Stage']= labale_encoder.fit_transform(data['A_Stage'])
data['Estrogen_Status']= labale_encoder.fit_transform(data['Estrogen_Status'])
data['Progesterone_Status']= labale_encoder.fit_transform(data['Progesterone_Status'])
data['Mortality_Status'] = labale_encoder.fit_transform(data['Mortality_Status'])

In [128]:
data.head(10)

,Patient_ID,Month_of_Birth,Age,Sex,T_Stage,N_Stage,6th_Stage,Differentiated,Grade,A_Stage,Tumor_Size,Estrogen_Status,Progesterone_Status,Regional_Node_Examined,Reginol_Node_Positive,Survival_Months,Mortality_Status
0,A0012,12,68,1,0,0,0,1,3,1,4,1,1,24,1,60,2
1,A0013,12,50,1,1,1,2,0,2,1,35,1,1,14,5,62,2
2,A0014,11,58,1,2,2,4,0,2,1,63,1,1,14,7,75,2
3,A0015,3,58,1,0,0,0,1,3,1,18,1,1,2,1,84,2
4,A0016,1,47,1,1,0,1,1,3,1,41,1,1,3,1,50,2
5,A0017,2,51,1,0,0,0,0,2,1,20,1,1,18,2,89,2
6,A0018,5,51,1,0,0,0,3,1,1,8,1,1,11,1,54,2
7,A0019,4,40,1,1,0,1,0,2,1,30,1,1,9,1,14,4
8,A0020,6,40,1,3,2,4,1,3,1,103,1,1,20,18,70,2
9,A0021,4,69,1,3,2,4,3,1,0,32,1,1,21,12,92,2

In [129]:
data.drop(['Month_of_Birth'], axis=1,inplace=True)

In [130]:
data.drop(['Patient_ID'], axis=1,inplace=True)

In [131]:
data.to_csv('mortality_status.csv', index=False)
data.to_csv('survival_period.csv', index=False)